<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspection Report</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="a4-page">
        <h1>INSPECTION REPORT</h1>
        <div class="mc-logo-container">
            <img src="../static/images/eseneye_icon_inverted.png" alt="" class="mc-logo">
        </div>
        <div class="report-id fill-report-id">#00000X</div>


        <table>
            <colgroup>
                <col class="col" id="col-1">
                <col class="col" id="col-2">
                <col class="col" id="col-3">
            </colgroup>
            <tr>
              <td><span class="key">Project:</span><span class="value-header fill-project">XXX</span></td>
              <td><span class="key">Inspected Part:</span><span class="value-header fill-inspected-part">XXX</span></td>
              <td><span class="key">Date:</span><span class="value-header fill-date">XXX</span></td>
            </tr>
            <tr>
              <td><span class="key">Serial Number:</span><span class="value-header fill-serial-number">XXX</span></td>
              <td><span class="key">Technician:</span><span class="value-header fill-technician">XXX</span></td>
            </tr>
        </table>

        <h2 class="defect-name-container">
            <span class="defect-name">DEFECT:</span>
            <span class="defect-name fill-defect-name">XXX</span>
        </h2>
        <hr>
        
        <div class="separator" id="separator-flex">
            <span class="defect-number fill-defect-number">X</span>.1. AREA OF INTEREST
            <span id="second-child-title">
                <span class="defect-number fill-defect-number">X</span>.2. PART ID
            </span>
        </div>

        <hr class="body-separator">
        <div class="context-container">
            <div class="img-context-container">
                <img src="" alt="" class="img-context fill-image-context">
            </div>
            <div class="img-partid-container">
                <img src="" alt="" class="img-partid fill-image-partid">
            </div>
        </div>
        
        <div class="separator"><span class="defect-number fill-defect-number">X</span>.3. DEFECT DETAIL</div>
        <hr class="body-separator">
        <div class="img-detail-container">
            <img src="" alt="" class="img-detail fill-image-detail">
        </div>

        <div class="separator"><span class="defect-number fill-defect-number">X</span>.4. ACCEPTANCE CRITERIA COMPARISON</div>
        <hr class="body-separator">
        <div class="criteria-comparison-container fill-criteria">
            <p>XXX</p>
        </div>
       

        <div class="report-footer">
            <div class="mc-logo-container-footer">
                <img src="../static/images/eseneye_symbol_main.png" alt="" class="mc-logo">
            </div>
            <div class="mc-address">
                <p>Managing Composites, SL</p>
                <p>B87272696</p>
                <p>Poeta Joan Maragall, 56, 6A</p>
                <p>28020 Madrid, Spain</p>
            </div>
            <div class="mc-links">
                <a id="email" href="mailto:eseneye@managingcomposites.com" class="contact-link" aria-label="Email us">
                    eseneye@managingcomposites.com
                </a>
                <a id="website" href="https://www.eseneye.com" class="contact-link" aria-label="Visit our website" target="_blank" rel="noopener noreferrer">
                    www.eseneye.com
                </a>
            </div>
            <div class="mc-footer-info">
                <p><span class="fill-project" id="footer-project-number">PROJECT NUMBER</span><span> | </span><span class="fill-date" id="footer-date">DATE</span></p>
            </div>
        </div>

        <div class="page-number fill-page-number">X</div>
    </div>

</body>
</html>
